/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter-Variable;
  --accent-font: 'PressStart2P';
  --main-font-normal: 410;
  --main-font-bold: 715;
  --difcolor: #fff;
  --heartcolor: black;
  --animation-fill-color: #ff0000;
  --contour-color: #FF0000;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}